@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.ttf') format('truetype'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.bg--white {
	background: #fff;
	color: #2E3037;
}

.divider {
	background: $lightest-blue;
	height: 28px;
	width: 100%;
	margin-top: 20px;
}

.bg-blue {
	background: $dark-blue;
}

.navbar-btn {
	display: inline-block;
}

.navbar-nav {
	> li {
		margin: 28px 15px 26px;

		@media (max-width: $screen-xs-max) {
			margin: 22px 15px 18px;
		}

		&.navbar-btn {
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}
}

.navbar-default {
	transition: background-color .3s;
}
.navbar-scroll {
	background-color: #23252B;
}

@media (max-width: $screen-xs-max) {
	.navbar-header {
		display: inline-block;
	}
	.navbar-nav {
		margin: 0 -15px;
		li {
			vertical-align: top;
			display: inline-block;
		}
	}

	.navbar-collapse {
		float: right;
	}

	.navbar-brand {
		height: 60px;
		padding: 13px 15px;
	}

	.navbar {
		min-height: 68px;
		max-height: 68px;
	}
}

@media(max-width: 320px) {
	.hidden-xss {
		display: none !important;
	}
}