@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.ttf') format('truetype'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

.bg--white {
	background: #fff;
	color: #2E3037;
}

.divider {
	background: $lightest-blue;
	height: 28px;
	width: 100%;
	margin-top: 20px;
}