$navbar-height: 80px;
$navbar-default-bg: transparent;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #50E3C2;

$brand-primary: $primary;

$body-bg:               $light-blue;
$text-color:            #FFF;

$font-family-sans-serif:  "Gotham", Helvetica, Arial, sans-serif;
$font-family-base: "Open Sans", "Gotham", Helvetica, Arial, sans-serif;
$font-size-h1: 30px;
$font-size-h2: 25px;
$font-size-h3: 23px;

$font-size-base: 19px;
$line-height-base: 2.58;

$headings-font-family: $font-family-sans-serif;
$headings-line-height: 1.56;