.card {
  background: $primary;
  text-transform: uppercase;

  margin: 15px 0;
}

    .card__body {
      padding: 12px 20px 16px;
    }

    .card__image {
      display: block;
      max-width: 100%;
      height: auto;
    }
    
    .card__title {
      color: #fff;
      margin: 0 0 9px;

      line-height: 29px;
      letter-spacing: 1.84px;
    }

    .card__subtitle {
      display: block;
      color: $secondary;

      font-family: $font-family-sans-serif;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1.12px;
    }