.card {
  background: $primary;
  text-transform: uppercase;

  margin: 15px auto;
  max-width: 400px;
  position: relative;
  z-index: 1;
}

    .card__body {
      padding: 12px 20px 16px;
    }

    .card__image {
      display: block;
      max-width: 100%;
      height: auto;

      opacity: 0;
      -webkit-transition: opacity .4s ease-in;
         -moz-transition: opacity .4s ease-in;
              transition: opacity .4s ease-in;
    }
    
    .card__title {
      color: #fff;
      margin: 0 0 9px;

      line-height: 29px;
      letter-spacing: 1.84px;
    }

    .card__subtitle {
      display: block;
      color: $secondary;

      font-family: $font-family-sans-serif;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1.12px;
    }