.logo {
  height: auto;

  -webkit-transition: all 200ms;
	   -moz-transition: all 200ms;
		  -ms-transition: all 200ms;
			 -o-transition: all 200ms;
			    transition: all 200ms;
}

  .logo--header {
    max-width: 232px;

    @media (max-width: $screen-xs-max) {
      max-width: 45px;
    }
  }

  .logo--footer {
    max-width: 126px;
    margin: 0 auto 24px;

    opacity: 0;

    &:hover {
      -webkit-transform: scale(.90) rotate(-90deg);
			   -moz-transform: scale(.90) rotate(-90deg);
				  -ms-transform: scale(.90) rotate(-90deg);
					 -o-transform: scale(.90) rotate(-90deg);
					    transform: scale(.90) rotate(-90deg);
    }
  }