.modal--zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.modal--zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.modal--zoom-in.mfp-ready .modal__dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.modal--zoom-in .modal__dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.modal {
  background: #FFF;
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  position: relative;
  color: #2E3037;
  clear: both; 
  overflow: hidden;
  text-transform: uppercase;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.modal__object,
.modal__form {
  width: 50%;
  display: inline-block;
  float: left;
  height: 360px;
}

.modal__form {
      display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (max-width: $screen-sm-max) {
  .modal__object {
    display: none;
  }

  .modal__form {
    width: inherit;
  }

  .modal {
    max-width: 400px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
}

.modal__body {
  padding: 0 30px;

  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  @include display(flex);
  @include align-items(center);

  p {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: .5px;
    margin-bottom: 32px;
  }
}

.modal__footer {
      -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal__headline {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 1.09px;

  margin: 0 0 14px;
  padding: 0;
}

.modal__seperator {
  height: 13px;
  width: 40px;
  display: block;
  margin: 0 auto 14px;

  background-image: url(../images/wave.jpg);
  background-repeat: no-repeat;

}

.modal__input {
  background: #ECECEC;
  width: 100%;
  border: 4px solid #ECECEC;
  padding: 17px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 1;
  font-family: $font-family-sans-serif;
  color: #585858;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -webkit-transition: border-color .3s ease-in-out;
     -moz-transition: border-color .3s ease-in-out;
          transition: border-color .3s ease-in-out;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.modal__input--error {
  border-color: #FB3535;
}

.modal__button {
  font-family: $font-family-sans-serif;
  font-size: 27px;
  line-height: 1;
  text-transform: uppercase;
  outline: none;
  border-style: solid;
  border-width: 1px;
  padding: 19px 20px;
  width: 100%;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  
  background: $primary;
  border-color: $primary;
  color: #fff;

  &:hover,
  &:focus {
    background: #FB3535;
    border-color: #FB3535;
    color: #fff;
    text-decoration: none;
  }
  
  &:active {
    background: $primary;
    border-color: $primary;
    color: #fff;
    text-decoration: none;
  }
}

.modal__close {
  height: 36px;
  width: 36px;
  background: $primary;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.modal__button--back {
  background: #585858;
  border-color: #585858;

  &:hover {
    background: #CF1D0C;
    border-color: #CF1D0C;
  }

  &:active,
  &:focus {
    background: #585858;
    border-color: #585858;
  }
}

.modal__header {
  width: 100%;
  height: 15px;
}

.modal__progress,
.modal__progress--inner  {
  height: 14px;
  display: block;
}
.modal__progress {
  background: #E9E9E9;
  width: 100%;
}

.modal__progress--inner {
  background: #CF1D0C;
  width: 0;
}
.form__success {
  display: none;
}