$color-background: #F5F5F5;
$color-main: $light-blue;
$color-active: $primary;
$color-link: #FFF;

$button-height: 28px;
$button-width: 40px;

.nav-menu__button {
  height: $button-height;
  width: $button-width;
  @media (max-width: $screen-xs-max) {
    width: 35px;

  }
  @media(max-width: 320px) {
    display: none;
  }
  cursor: pointer;
  z-index: 100;
  transition: background .25s ease;

  &:hover:not(.active) {
    span {
      &:nth-of-type(3) {
        width: 100%;
      }

      &:nth-of-type(1) {
        width: 50%;
      }
    }
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
      width: 100%;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
      width: 100%;
    }
  }
  
  span {
    background: $color-link;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
      width: 50%;
    }

  }
}

.nav-overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 15;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  .nav-overlay__menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: $font-family-sans-serif;
    text-align: center;
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; 
    
      li {
        display: block;
        height: 25%;
        height: calc(100% / 5);
        min-height: 50px;
        position: relative;
        opacity: 0;
      
        a {
          display: block;
          position: relative;
          color: $color-link;
          text-decoration: none;
          overflow: hidden;
          text-transform: uppercase;
          
          &:hover:after,
          &:focus:after,
          &:active:after {
            width: 100%;
          }
          
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $color-link;
            transition: .35s;
          }
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}