.page-head {
  height: 600px;
  position: relative;
  overflow: visible;

  z-index: 1;
}

    .page-head__headline {
      font-size: 32px;
      line-height: 35px;
      letter-spacing: 2.56px;
      text-align: center;

      display: inline-block;
      margin: 0 auto;
      padding: 24px 74px 23px;

      background: $primary;
      position: absolute;
      left: 50%;
      bottom: -58px;

      -webkit-box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);
         -moz-box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);
              box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);

      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
              transform: translateX(-50%);
      span {
        display: block;
      }

      &:after {
        content: '';
        display: inline-block;
        z-index: 1;

        width: 92%;
        height: 10px;
        background: #A31407;

        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }