.page-head {
  height: 600px;
  position: relative;
  overflow: visible;

  z-index: 1;

  @media (max-width: $screen-xs-max) {
    height: 375px;
  }
}

  .page-head--masthead {
    background-image: url(../images/video-bg-lg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;

    @media (min-width: 1442px) {
      height: 800px;
    }

    @media (min-width: 1800px) {
      height: 1000px;
    }

    @media (min-width: 2100px) {
      height: 1100px;
    }
  }

    .page-head__headline {
      font-size: 18px;
      line-height: 19.5px;
      letter-spacing: 1.28px;
      text-align: center;

      display: inline-block;
      margin: 0 auto;
       padding: 10px 10px 15px;

      background: $primary;
      position: absolute;
      left: 50%;
      bottom: -58px;
      min-width: 100%;

      @media (min-width: $screen-sm-min) {
        min-width: 660px;
        padding: 24px 74px 23px;

        font-size: 32px;
        line-height: 35px;
        letter-spacing: 2.56px;
      }

      -webkit-box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);
         -moz-box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);
              box-shadow: 0px 24px 56px 0px rgba(0,0,0,0.06);

      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
              transform: translateX(-50%);
      span {
        display: block;
      }

      &:after {
        content: '';
        display: inline-block;
        z-index: 1;

        width: 92%;
        height: 10px;
        background: #A31407;

        position: absolute;
        top: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
                transform: translateX(-50%);
        
      }
    }

    .js-play-btn {
      width: 126px;
      height: 126px;

      @media (max-width: $screen-xs-max) {
        width: 100px;
        height: 100px;
      }
      display: block;
      margin: 0 auto;
      text-align: center;
      &:active,
      &:focus {
        outline: none;
      }
    }
    .page-head__play {
      background: $primary;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;

      -webkit-transition: all .3s;
         -moz-transition: all .3s;
              transition: all .3s;

      height: 126px;
      width: 126px;
      @media (max-width: $screen-xs-max) {
        width: 100px;
        height: 100px;
      }
      vertical-align: middle;
      margin: 0 auto;
      text-align: center;
      display: table;

      &:active,
      &:focus {
        outline: none;
      }

      &:hover {
        -webkit-transform: scale(1.05);
           -moz-transform: scale(1.05);
                transform: scale(1.05);
      }

      svg {
        
        display: table-cell;
        height: 100%;
        @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
          height: 126px;
          @media (max-width: $screen-xs-max) {
            height: 100px;
          }
        }
        vertical-align: middle;
        width: 33px;
        @media (max-width: $screen-xs-max) {
          width: 26px;
        }
        margin: 0 auto;


        &:hover {
          cursor: pointer;
        }
      }
    }

    .page-head__content {
      top: 50%;
      position: relative;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
              transform: translateY(-50%);
    } 