.sponsors-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

    .sponsors-list__item {

    }

    .sponsors-list--md,
    .sponsors-list--sm {
      display: block;
      text-align: center;
      
      li {
        display: inline-block;
        padding: 20px;
      }
    }

    .sponsors-list--sm {
      
      @media (min-width: $screen-md-min) {
        li {
          padding: 10px;
        }
        .sponsors-list__logo {
          -webkit-transform: scale(.8);
             -moz-transform: scale(.8);
                  transform: scale(.8);
          zoom: .8;
        }
      }
    }

    .sponsors-list--md {
      .sponsors-list__logo {
        @media (min-width: $screen-md-min) {
          -webkit-transform: scale(.9);
             -moz-transform: scale(.9);
                  transform: scale(.9);
          zoom: .9;
        }
      }
    }


    .sponsors-list__logo {
      background-image: url(../images/sponsors-sprite.png);
      background-repeat: no-repeat;

      -webkit-transition: opacity .3s;
         -moz-transition: opacity .3s;
              transition: opacity .3s;
      
      -webkit-opacity: 1;
         -moz-opacity: 1;
              opacity: 1;

      &:hover {
        -webkit-opacity: .8;
           -moz-opacity: .8;
                opacity: .8;
      }

      &--dodge {
        width: 550px;
        height: 77px;
        margin: 0 auto;
        display: block;
      }

      &--ciroc {
        width: 294px;
        height: 69px;
        background-position: 0 -293px;
      }

      &--dry-farm {
        width: 201px;
        height: 145px;
        background-position: -349px -243px;
      }

      &--bulletproof {
        width: 300px;
        height: 105px;
        background-position: 0 -415px;
      }

      &--hollywood {
        width: 149px;
        height: 126px;
        background-position: -383px -427px;
      }

      &--vital-choice {
        width: 230px;
        height: 43px;
        background-position: -3px -626px;
      }

      &--castle-rock {
        width: 200px;
        height: 66px;
        background-position: -333px -612px;
      }

      &--noah {
        width: 203px;
        height: 48px;
        background-position: -15px -776px;
      }

      &--juice {
        width: 156px;
        height: 140px;
        background-position: -352px -731px;
      }

      &--humm {
        width: 186px;
        height: 72px;
        background-position: -22px -905px;
      }

      &--activation {
        width: 220px;
        height: 40px;
        background-position: -320px -931px;
      }
    }