/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.wrapper {
  @include container-fixed;
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
   @media (min-width: $screen-xlg-min) {
    width: $container-xlg;
  }
  //max-width: 1310px;
}





/* Size variants.
   ========================================================================== */

.wrapper--wide {
  @include container-fixed;
}